{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Catalogue de produits">
    <meta name="keywords" content="catalogue, produits, ecommerce">
    <meta name="author" content="dauphin Ngatse">
    <title>catalogue</title>
    <link rel='stylesheet' href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'select_langages.css' %}">
    <link rel="stylesheet" href="{% static 'search_bar.css' %}">
    <link rel='stylesheet' href="{% static 'catalogue/css/catalogue.css' %}">
    <link rel="icon" type="image/2.ico" href="{% static 'marquet/images/2.png'' %}">

</head>

<body>
    {% include "header.html" %}
    <nav class="Navigation">
        <h2 class="titre_nav">CATALOGUE</h2>

        <div>

            {% for item in categorie %}
            <a href="#{{item.0}}"> {{ item.0 }} </a>

            {% endfor %}

        </div>


    </nav>
    <img class="Menu" src="{% static 'Catalogue/images/icons8-menu-64.png' %}">
    <main class='categorie'>
            <form title="ajouter au pannier" method="GET" action="panier/">
                <section class="cat1">
                    {% for i in categorie %}
                    <div class="c_titre">
                        <h1 id="{{i.0}}" class="titre">{{i.0}}</h1>
                    </div>
                    <section class='cat1_1'>
                        {% for j in clee %}
                        {% if j.6 == i.0 %}
                        <label for="{{j.0}}">
                            <article class='article'>
                                <div class="checkbox">
                                    <input type="checkbox" id="{{j.0}}" value="{{j.0}}" name="produit">
                                    <img class="add" src="{% static 'Catalogue/images/icons8-add-32 (1).png' %}">
                                    <span class="ajouter">Ajouter</span>
                                </div>

                                <figure>
                                    <img class="photos" src='{% static j.10 %}' onerror="this.onerror=null; this.src='{% static 'catalogue/photos/soins/Gant de bain doux.jpg' %}';">
                                    <figcaption class='nom'>{{ j.2 }}</figcaption>
                                </figure>
                                <span class='prix'>Prix: {{ j.5 }}</span>
                                <!-- <span class='libelle'>libelle: {{ j.7 }}</span> -->
                            </article>
                        </label>
                        {% endif %}
                        {% endfor %}

                    </section>
                    {% endfor %}
                </section>

                <input class="submit_bt" type="submit" name="CONFIRMER_CATALOGUE" value="CONFIRMER">
            </form>
    </main>
</body>
   <script>
    const menu = document.querySelector('.Menu');
    const nav = document.querySelector('.Navigation');

    menu.addEventListener('click', () => {
        nav.classList.toggle('active');
        menu.classList.toggle('active');
    });
    </script>

</html>