* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-size: 1rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 0;
    align-items: center;
    padding: 20px;
    background-color: var(--bg-color);
    color: var(--color-text);
    position: sticky;
    top: 0;

}

.logo-container .logo {
    height: 5vw;
    min-height: 30px;
    width: 70px;
}

/* Menu */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    width: 2.4vw;
    min-width: 30px;
    cursor: pointer;
    align-items: center;

}

.menu-toggle img {
    width: 100%;

}

.menu_list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    font-size: clamp(0.7rem, 1vw, 1.2rem);
    font-family: Geneva, Verdana, sans-serif, Arial, sans-serif;
    font-weight: bold;
    color: var(--color-text-primary);
    text-shadow: 2px 2px 4px var(--color-shadow);

}


.menu_list li a {

    text-decoration: none;

    font-weight: bold;
    transition: color 0.3s;
    color: var(--color-text-primary);
    text-shadow: 2px 2px 4px var(--color-shadow);
}

.menu_list li a:hover {
    color: var(--color-text-hover);
}

/* Profil utilisateur */
.profil {
    display: flex;

    align-items: center;
    position: relative;
}

.profil a,
.profil button {
    text-decoration: none;
    background: none;
    border: none;
    color: var(--color-text-secondary);
    font-size: clamp(0.7rem, 1.3vw, 2rem);
    cursor: pointer;
    font-weight: bold;
    text-shadow: 2px 2px 4px var(--color-shadow);
}

.profil a button {
    
    color: white;
    padding: 8px 14px;
    border-radius: 5px;
    background-color: var(--color-tertiary);
    transition: background 0.3s;
}

.profil a button:hover {
    background-color: #629c04;
}

/* pariie utilisateur */
.utilisateur {
    background-color:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    margin-left: 20px;
    padding-left: 10px;
    border-left: #333 2px solid;
}

.utilisateur .nom p {
    margin: 0;
    font-weight: 600;
    color: var(--color-text-primary);
    text-shadow: none;
}

a.btn-deconnexion {
    display: inline-block;
    background-color: var(--color-tertiary);
    text-decoration: none;
    border-radius: 6px;
    padding: 10px;
    
    transition: background-color 0.3s ease;
}

.btn-deconnexion:hover {
    background-color: var(--color-primary);
    color: var(--color-text-tertiary);
    text-shadow: 2px 2px 4px var(--color-shadow);
}

/* search toggle */
.search-toggle {
    display: none;

}

/* Theme and language toggle */
.theme-and-langage-bouton {
    display: none;
    order: 1;
}

.theme-and-langage-container {
    display: flex;
    align-items: center;
    gap: 10px;

    /* order: 1; */

}

.dark_light_toggle {
    display: flex;
    align-items: center;

    margin: 0 5px;
    transition: background-color 0.5s ease;


}

.dark_light_toggle img {
    width: 2.4vw;
    min-width: 20px;
}

.dark_light_toggle:hover {
    background: #e6fbc4;
    transform: scale(1.02);
    transition: transform 0.3s ease, background-color 0.5s ease;
    text-shadow: 0px 1px 1px #5e9e93;

}



/* Responsive */
@media (max-width: 1273px) {
    .menu {
        order: -1;
    }

    .menu_list {
        display: none;

    }

    .menu-toggle {
        display: flex;

    }

    .menu_list.active {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: var(--bg-color2);
        position: absolute;
        width: 200px;
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        border-top: 1px solid var(--color-border);
        z-index: 100;
        animation: slideDown 1s ease forwards;
        font-size: 16px;
    }


    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }

    }
}

@media (max-width: 710px) {

    .search-form {
        display: none;

    }

    .search-toggle {
        display: block;
        margin-right: 10px;

    }

}

@media (max-width: 630px) {
    header {
        gap: 0px;
    }

    .profil a button {
        background-color: green;
        color: white;
        padding: 18px;
        border-radius: 5px;
        transition: background 0.3s;
    }
    .utilisateur {
        border-right: #333 2px solid;
        border-left: none;
        padding-right: 10px;
        min-width: 120px;
        
    }
    .utilisateur .nom p ,a.btn-deconnexion {
        width:100%;
        flex-grow:5:
    }

    .search-toggle {
        display: block;
        margin-right: 0;
        order: 2;
    }

    .theme-and-langage-container {
        display: none;
    }

    .theme-and-langage-container.active {
        display: flex;

        position: absolute;
        top: 110%;
        right: 10px;
        z-index: 100;
        color: var(--color-text-primary);
        background-color: var(--bg-color2);
        border: 1px solid #ccc;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-size: 14px;
        animation: slideDown 1s ease forwards;
    }

    .theme-and-langage-bouton {
        display: block;
        height: 10px;
        min-height: 27px;

    }

    .theme-and-langage-bouton img {
        height: 100%;
        width: auto;


    }


}

@media (max-width: 426px) {
    .search-form button {
        display: none;
    }

}