*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header de la page d'acceulles*******************/
header{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
}

/* quantenaire qui englobe toutes les listes classe liste */
.liste{
    border: solid 1px transparent;
    margin-top: 0;
    margin-left: -50px;
    font-size: 17px;
    position: relative;
    left: 35px;
    color: white;
}

/* liste principale qui s'affiche sur la page d'accueil class=liste1 */
.liste .liste1{
    list-style: none;
    display: flex;
}

.liste li a{
    text-decoration: none;
    margin-left: 15px;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.liste li a:hover{
    font-weight: bold;
    color: white;
}

.liste img{
    position: relative;
    top: 3px;
    height: 19px;
    margin-right: 2px;
}

/* style du logo */
.logo{
    height: 150px;
}

/* style des langues */
.langue{
    background-color: #f8c68d83;
    border: 8px solid #8B4513;
    position: absolute;
    border-radius: 20px;
    box-shadow: 1px 1px 1px black;
    font-size: 20px;
    display: none;
}

i:hover .langue{
    display: block;
}

.langue form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin: 17px auto;
}

.langue select{
    border: 3px solid rgb(0, 0, 0);
    font-size: 15px;
    width: 160px;
    height: 30px;
}

.langue input[type="submit"]{
    background-color: rgb(128, 195, 128);
    font-weight: bold;
    height: 25px;
}

.profil button{
    font-size: 17px;
    width: auto;
    height: auto;
    margin: 8px 20px;
    padding: 8px 15px;
    font-family: 'Stencil';
    border-radius: 9px;
    cursor: pointer;
}

.profil{
    display: flex;
    justify-content: space-evenly;
    color: rgb(250, 254, 255);
    align-items: center;
}

.profil a{
    text-decoration: none;
    margin-left: 25px;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.profil img{
    height: 19px;
}