/* Structure de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-size: 1rem;
    display: flex;
    flex-wrap:nowrap;
    
    gap: 0;
    align-items: center;
    padding: 20px;
    background-color:rgb(57, 56, 56);
    background-color: white;
    position: sticky;
    top: 0;

}

.logo-container .logo {
    height: 5vw;
    min-height: 30px;


}

/* Menu */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    width: 2.4vw;
    min-width: 20px;
    cursor: pointer;
    align-items: center;
}

.menu-toggle img {
    width: 100%;
    
}

.menu_list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    font-size: clamp(0.7rem, 1vw, 1.2rem);
    font-family: 'Arial', sans-serif;
    font-weight: bold;

}


.menu_list li a {

    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
    text-shadow: 2px 2px 4px green;
}

.menu_list li a:hover {
    color: yellowgreen;
}

/* Profil utilisateur */
.profil {
    display: flex;
    gap: 15px;
    align-items: center;
    position: relative;
}

.profil a,
.profil button {
    text-decoration: none;
    background: none;
    border: none;
    color: #333;
    font-size: clamp(0.7rem, 1.3vw, 2rem);
    cursor: pointer;
    font-weight: bold;
}

.profil a button {
    background-color: #9dff00;
    color: white;
    padding: 8px 14px;
    border-radius: 5px;
    transition: background 0.3s;
}

.profil a button:hover {
    background-color: #629c04;
}
/* search toggle */
.search-toggle {
    display: none;

}

/* Theme and language toggle */
.theme-and-langage-bouton {
    display: none;
    order: 1;
}

.theme-and-langage-container {
    display: flex;
    align-items: center;
    gap: 10px;

    /* order: 1; */
   
}
.dark_light_toggle {
    display: flex;
    align-items: center;
    
    margin: 0 5px;
    transition: background-color 0.5s ease;

    
}
.dark_light_toggle img{
    width: 2.4vw;
    min-width: 20px;
}

.dark_light_toggle:hover {
    background: #e6fbc4;
    transform: scale(1.02);
    transition: transform 0.3s ease, background-color 0.5s ease;
    text-shadow: 0px 1px 1px #5e9e93;

}



/* Responsive */
@media (max-width: 1273px) {
    .menu {
        order: -1;
    }

    .menu_list {
        display: none;

    }

    .menu-toggle {
        display: flex;

    }

    .menu_list.active {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: white;
        position: absolute;
        width: 200px;
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 8px 8px;
        z-index: 100;
        animation: slideDown 1s ease forwards;
    }


    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }

    }
}

@media (max-width: 920px) {

    .search-form {
        display: none;
        order: -1;
    }
    .search-toggle {
        display: block;
    }

}

@media (max-width: 630px) {
    header {
        gap: 0px;
    }

    .theme-and-langage-container {
        display: none;
    }

    .theme-and-langage-container.active {
        display: flex;
        order: 1;
        position: absolute;
        top: 110%;
        right: 10px;
        z-index: 100;
        background-color: white;
        border: 1px solid #ccc;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-size: 14px;
        animation: slideDown 1s ease forwards;
    }

    .theme-and-langage-bouton {
        display: block;
        height: 10px;
        min-height: 27px;
        
    }
    .theme-and-langage-bouton img {
       height: 100%;
        width: auto;
        

    }


}
@media (max-width: 426px) {
    .search-form button {
        display: none;
    }

}