{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta sharset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MYN MARQUET est un supermarché en ligne qui vous permet de faire vos courses facilement et rapidement.">
    <meta name="keywords" content="supermarché, courses, en ligne, livraison, qualité, service client">
    <meta name="author" content="MYN MARQUET">
    <link rel="stylesheet" href="{% static 'select_langages.css' %}">
    <link rel="stylesheet" href="{% static 'search_bar.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="icon" type="image/2.ico" href="{% static 'marquet/images/2.png'' %}">
    <title>MYN MARQUET|{% block change_title %} Bienvenue chex vous ...{% endblock change_title %}</title>
    {% block extends_css %}
    {% endblock extends_css %}
</head>

<body>
    <section class="main">
    {% include "header.html" %} 
    {% block block %}

    
    {% endblock block %}
    {% include "footer.html" %}
    </section>
</body>

</html>