{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta sharset="utf-8">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'select_langages.css' %}">
    <link rel="stylesheet" href="{% static 'search_bar.css' %}">
    <link rel="icon" type="image/png" href="{% static 'marquet/images/2.png'' %}">
    <title>MYN MARQUET|{% block change_title %} Bienvenue chex vous ...{% endblock change_title %}</title>
    {% block extends_css %}
    {% endblock extends_css %}
</head>

<body>
    {% include "header.html" %} 
    {% block block %}

    
    {% endblock block %}
    {% include "footer.html" %}
</body>

</html>