{% load static %}
<footer>
            <div class="foot">
                <h2>Contactez-nous</h2>
                <p>Email: <a href="mailto:ngatsedauphinpro@gmail.com">ngatsedauphinpro@gmail.com</a></p>
                <p>Téléphone: +242 06 950 89 37 </p>
                <p>Adresse: 15 rue Du Magassin virtuel quartier fictif, Congo</p>
                <div class="social-media">
                    <a href="https://wa.me/+242069508937"><img src="{% static 'marquet/images/icons8-whatsapp-48.png' %}" alt="WhatsApp"></a>
                    <a href="https://www.facebook.com/"><img src="{% static 'marquet/images/icons8-facebook-nouveau-48.png' %}" alt="Facebook"></a>
                    <a href="https://www.x.com/"><img src="{% static 'marquet/images/icons8-x-48.png' %}" alt="Twitter"></a>
                    <a href="https://www.instagram.com"><img src="{% static 'marquet/images/icons8-instagram-48.png' %}" alt="Instagram"></a>
                    <a href="https://www.tiktok.com/"><img src="{% static 'marquet/images/icons8-tiktok-48.png' %}" alt="TikTok"></a>
                </div>
            </div>
</footer>