{% load static %}
<div class="langue-selector ">
    <a href="#" class="langue-toggle">
        <img src="{% static 'images/langage.png' %}" alt="Icône langue">
        <span class="active">langue</span>
    </a>
    <div class="langue-form">
        <form action="" method="post">
            {% csrf_token %}
            <p><strong>Sélectionnez une langue de votre choix</strong></p>
            <select name="langue">
                <option value="fr">Français</option>
                <option value="en">Anglais</option>
                <option value="pt">Portugais</option>
            </select>
            <input type="submit" value="Sauvegarder">
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const toggle = document.querySelector('.langue-toggle');
        const selector = document.querySelector('.langue-selector');
    
        if (toggle && selector) {
            // Toggle affichage du menu
            toggle.addEventListener('click', function (e) {
                e.preventDefault();
                selector.classList.toggle('active');
            });
    
            // Fermer si clic en dehors
            document.addEventListener('click', function (e) {
                if (!selector.contains(e.target)) {
                    selector.classList.remove('active');
                }
            });
        }
    });
    </script>
    