{% extends 'base.html' %}
{% load static %}


{% block block %}
<section class="main">
    <section class="presentation">
        <div class="search-container">
            <form method="get" action="/catalogue/search">
                <input type="search" name="Barre_de_recherche" placeholder="search" value="">
            </form>
        </div>

        <div class="tableau"><img src="{% static 'marquet/images/planche3.png' %}"></div>

        <h1>LE SUPER MARCHE<br>PLUS PROCHE DE CHEZ VOUS</h1>
    </section>
    <!-- deuxieme partie -->
    <section>
        <div class="ss">
            <div class="pub-text">Découvrez notre offre spéciale !</div>
            <div id="slider">
                <ul id="slideWrap">
                    <li><img src="{% static 'marquet/images/a.jpg' %}"></li>
                    <li><img src="{% static 'marquet/images/chaussures-de-basket.jpg' %}" alt=""></li>
                    <li><img src="{% static 'marquet/images/nikes1.jpg' %}" alt=""></li>
                    <li><img src="{% static 'marquet/images/nike_streakfly_2-1024x767.jpg' %}" alt=""></li>
                    <li><img src="{% static 'marquet/images/nike4.jpg' %}" alt=""></li>
                </ul>

                <a id="prev" href="#"></a>
                <a id="next" href="#"></a>
            </div>


            <!--slider2-->
            <div id="slider1">
                <ul id="slideWrap1">
                    <li><img src="{% static 'marquet/images/pub1.jpeg' %}" alt=""></li>
                    <li><img src="{% static 'marquet/images/pub2.jpeg' %}" alt=""></li>
                    <li><img src="{% static 'marquet/images/IMG_3776.JPG' %}" alt=""></li>
                    <li><img src="{% static 'marquet/images/acceuil2.JPG' %}" alt=""></li>
                    <li><img src="{% static 'marquet/images/espoir.jpeg' %}" alt=""></li>
                </ul>
                <a id="prev" href="#"></a>
                <a id="next" href="#"></a>
            </div>

            <!--slider2-->

            <div id="slider2">

                <ul id="slideWrap2">

                    <li><img src="{% static 'marquet/images/Corndogs-7832ef6.jpg' %}" alt=""></li>
                    <li><img src="{% static 'marquet/images/164712019-hamburger-fast-food-sandwich-embleme-realiste-isole-sur-illustration-vectorielle-fond-blanc.jpg' %}"
                            alt=""></li>
                    <li><img src="{% static 'marquet/images/3312701-poulet-frit-restauration-rapide-sur-plat-blanc-isole-sur-fond-blanc-gratuit-photo.jpg' %}"
                            alt=""></li>
                    <li><img src="{% static 'marquet/images/35c1c89e-408c-4449-9abe-f109068f40c0.jpg' %}" alt=""></li>
                    <li><img src="{% static 'marquet/images/17tootired-grilled-cheese-articleLarge.jpg' %}" alt=""></li>
                </ul>
                <a id="prev" href="#"></a>
                <a id="next" href="#"></a>
            </div>

        </div>
    </section>

</section>
{% endblock block %}

