<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>formulaire</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'marquet/Inscristyle.css' %}">
    </head>

    <body>

        <!-- boutton acceuil_________________________________________________________-->
        <nav class="boutton_acceuil">
            <a href="{% url "acceuil" %}">ACCEUIL</a>
        </nav>
        <!-- ________________________________________________________________________-->

        <div class="inscription">

            <h2>INSCRIPTION</h2>
    
            <form method="post">
            <!-- {% csrf_token %} -->
                <input type="text" name="nom_client" id="nom_client" placeholder="entrer votre nom" required><br>       
                <input type="text" name="prenom_client" id="prenom_client"  placeholder="entrer votre prenom" required> <br>
                <input type="text" id="numero_telephone_client" name="numero_telephone_client" placeholder="entrer votre numero de telephone" required><br>
                <input type="text" id="sexe_client" name="sexe_client" placeholder="entrer votre sexe" required><br>  
                <input type="number" id="age_client" name="age_client" placeholder="entrer votre age" required><br>
                <input type="text" id="ville_client" name="ville_client" placeholder="votre ville actuel" required><br> 
                <input type="text" id="district_client" name="district_client" placeholder="votre arrondissement" required><br>
                <input type="text" id="quartier_client" name="quartier_client" placeholder="votre quartier" required><br>
                <input type="text" id="numero_parselle_client" name="numero_parselle_client" placeholder="Numero habitat" required><br>
                <input type="text" id="rue_ou_avenue_client" name="rue_ou_avenue_client" placeholder="Votre rue/avenue" required><br>
                <textarea id="reponse_de_securite_client" name="reponse_de_securite_client" placeholder="Entrez un textde securite en cas d'oublie de mot de passe" required></textarea><br>
                <input type="password" id="mot_de_passe_client" name="mot_de_passe_client" placeholder="Entrez un mot de passe" required><br>
                <input type="email" id="e_mail_client" name="e_mail_client" placeholder="Entrez votre address email" required><br>
                
                <input type="submit" value="S'INSCRIRE">
            </form>
         </div>
    </body>
</html>