<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'formulaire_page/formulaire.css' %}">
    <title>MYN|INSCRIPTION</title>
    <link rel="icon" type="image/png" href="{% static 'images/2.ico' %}">

</head>

<body>

   
    

   

    <div class="formulaire_page">
         <!-- Bouton de retour -->
    <nav class="boutton_retour">
        <button class="retour" onclick="history.back()">
            <img src="https://img.icons8.com/ios-filled/50/000000/left.png" alt="Retour" style="width: 20px; height: 20px; margin-right: 5px;"/> Retour
        </button>
    </nav>

        <h2>INSCRIPTION</h2>

        <form method="post">
            <!-- {% csrf_token %} -->
            <input type="text" name="nom_client" placeholder="Entrez votre nom" required>
            <input type="text" name="prenom_client" placeholder="Entrez votre prénom" required>
            <input type="email" name="e_mail_client" placeholder="e-mail" required>            <input type="password" name="mot_de_passe_client" placeholder="Mot de passe" required>
            <input type="password"  placeholder="Confirmer le Mot de passe" required>
            

            <input type="submit" value="S'INSCRIRE">
        </form>

    </div>
    <script src="{% static 'formulaire.js' %}"></script>


</body>
    
</html>
