{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Mon Compte</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mon_compte/mon_compte.css' %}">
    <link rel="shortcut icon" href="{% static 'images/2.ico'%}" type="image/x-icon">
</head>
<body class="mon_compte">

    <!-- BOUTON ACCUEIL -->
    <nav class="boutton_acceuil">
        <a onclick="history.back()">Retour</a>
    </nav>

    <!-- INFOS UTILISATEUR -->
    <main>
        <div class="info">
            {% if user %}
                <div class="champ">
                    <label for="nom">Nom:</label>
                    <input name="nom" type="text" value="{{ user.Nom_client }}" readonly>
                </div>
                <div class="champ">
                    <label for="prenom">Prénom:</label>
                    <input name="prenom" type="text" value="{{ user.prenom_client }}" readonly>
                </div>
                <div class="champ">
                    <label for="email">Email:</label>
                    <input name="email" type="text" value="{{ user.e_mail_client }}" readonly>
                </div>
                <div class="champ">
                    <label for="mot_de_passe">Mot de passe:</label>
                    <input name="mot_de_passe" type="text" value="{{ user.mot_de_passe }}" readonly>
                </div>
            {% else %}
                <p>Aucune information trouvée pour cet utilisateur.</p>
            {% endif %}
        </div>
    </main>

    <!-- COMMANDES -->
    <section class="commande_client">
        <div class="parant_historique">
            <p class="affichage_historique">Historique des commandes</p>

            {% for i in CMD %}
                <ul class="CMD">
                    <li>
                        <div class="a">
                            <p>N° {{ i.0 }}</p>
                            <p>Coût: {{ i.2 }}</p>
                            <p>Heure: {{ i.3 }}</p>
                        </div>

                        {% for j in detail %}
                            {% for produit in j %}
                                {% if produit.2 == i.0 %}
                                    <ul class="detail">
                                        <li class="bb">
                                            <p class="nom-produit">{{ produit.0 }}</p>
                                            <p>Prix unitaire: {{ produit.1 }}</p>
                                        </li>
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </li>
                </ul>
            {% endfor %}

        </div>
    </section>
    <script src="{% static 'formulaire.js' %}"></script>
</body>
</html>
