*{
    margin-top: 0;
    margin-left: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex; */
    background-image: url("images/acceuil2.JPG");
    background-repeat: none;
    background-size: cover;   
    /* align-items: center;
    height: 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
}

.inscription{
    background-image: url("images/image2.png");
    padding: 10px 15px;
    /* width: 300px; */
    /* margin: 60px auto; */
    width: 24%;
    border-radius: 20px;
    box-shadow: 0 0 20px #000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inscription form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inscription h2{
    /* margin-bottom:30px; */
    font-weight: bold;
    color: gray;
    font-family: 'Broadway';
}


.inscription input{
    display: block;
    width: 290px;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: bold;
    height: 5px;
}

.inscription input[type="submit"]{ 
    padding: 5px 5px;
    background-color: rgb(13, 255, 0);
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    height: 30px;
}

.inscription input[type="submit"]:hover{
    background-color: rgb(0, 102, 255) ;
    font-size: 15px;
}

.inscription input[type="reset"]{ 
    padding: 5px 5px;
    background-color: rgb(255, 0, 0);
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    height: 30px;
}

.inscription input[type="reset"]:hover{
    background-color: rgb(0, 0, 255) ;
    font-size: 15px;
}

.connexion{
    margin-top: 50px;
}

/* boutton acceuill_________________________________________ */
.boutton_acceuil{
    position: absolute;
    left: 0;
    top: 0;
    margin: 15px 15px;
    background-color: blue;
    font-size: large;
    border-radius: 25px;
    padding: 5px 12px;
}

.boutton_acceuil a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Arial Black';
}
/* ______________________________________________________________*/

